body {
    color:#e6e2da;
    font-weight: bold;
    font-size: 76%;
    color:#2d2d2d;
}
a {   
    color:#1A61AE;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -o-transition: all 0.218s;
    transition: all 0.218s;
    text-shadow: 0px 0px 4px #000, -1px -1px #111 ;
}
a:hover {    
    color:#F57E20;
    text-decoration: underline;
}
a:active {
    color: #0AA34A;
}
pre,
code{
    border-left:1em solid #0AA34A;
    padding-left:1em;
    font-weight:normal;
}

/*
 * Header
 */
header .wrap{
    max-width: 95em;
    margin:0 auto;
}
header nav{
    float: right;
    margin-top: 2em;
}
header nav li{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
header nav li a{
    display: inline-block;
    min-width: 4.5em;
    border: 1px solid gainsboro;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #555;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    padding: 0 8px;
    line-height: 27px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -o-transition: all 0.218s;
    transition: all 0.218s;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    border-image: initial;
    text-shadow: -1px -1px #fff;
}

header nav li a:hover {
    border: 1px solid #C6C6C6;
    color: #222;
    -webkit-transition: all 0.0s;
    -moz-transition: all 0.0s;
    -o-transition: all 0.0s;
    transition: all 0.0s;
    border-image: initial;
    text-decoration: none;
}
header nav li#current a {
    border-image: initial;
}
#body-container{
    max-width:80.5em;
    margin:0 auto;
}
#to-page-top {
    position: absolute;
    right:20px;
}
.ar-tool {
    display:none;
}
.buttons li {
   float:left;
   list-style:none;
}
.buttons li a {
    display:block;
    border:1px solid #BDC0C4;
    padding:15px;
    margin:15px;
    text-align:center;
}
button,
input.button,
#ninjaboard .toolbar a,
.ninjaboard .attachment .button {
    padding:5px 10px;
}
button,
input.button,
.buttons li a,
#ninjaboard .toolbar a,
.ninjaboard .attachment .button,
.article-2 #content-main ul li a {
    font-weight:bold;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border: 1px solid #1A61AE;
    color: #1A61AE;
    background-color: #111;
    background-image: -webkit-gradient(linear, top, #010101 0%, #111 50%, #010101 100%);
    background-image: -webkit-linear-gradient(top, #010101 0%, #111 50%, #010101 100%);
    background-image: -moz-linear-gradient(top, #010101 0%, #111 50%, #010101 100%);
    background-image: -ms-linear-gradient(top, #010101 0%, #111 50%, #010101 100%);
    background-image: -o-linear-gradient(top, #010101 0%, #111 50%, #010101 100%);
    background-image: linear-gradient(top, #010101 0%, #111 50%, #010101 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#010101',EndColorStr='#111');
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0,1);
    box-shadow: 2px 2px 6px rgba(0,0,0,1);
}
button:hover,
input.button:hover,
.buttons li a:hover,
.article-2 #content-main ul li a:hover {
    border: 1px solid  #F57E20;
    color: #F57E20;
}
button:active,
input.button:active,
.buttons li a:active,
.article-2 #content-main ul li a:active {
    border: 1px solid #0AA34A;
    color: #0AA34A;
}
#header{
    background-color: #111;
    background-image: -webkit-gradient(linear, top, #010101 0%, #111 50%, #010101 100%);
    background-image: -webkit-linear-gradient(top, #010101 0%, #111 50%, #010101 100%);
    background-image: -moz-linear-gradient(top, #010101 0%, #111 50%, #010101 100%);
    background-image: -ms-linear-gradient(top, #010101 0%, #111 50%, #010101 100%);
    background-image: -o-linear-gradient(top, #010101 0%, #111 50%, #010101 100%);
    background-image: linear-gradient(top, #010101 0%, #111 50%, #010101 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#010101',EndColorStr='#111');
    padding: 1em 0 0 0;
    margin-bottom: 2em;
	border-bottom: 1px solid #e6e2da;
}
#header .gutter {
	border-bottom: 5px solid #1A61AE;
	width:100%;
	float: left;
	margin: 0;
}
#logo a:link, #logo a:visited, #logo a:hover {
background: url(../images/logo-dark.png) 0 0 no-repeat;
}
header nav li a,
header nav li.parent.active li a {
    border:1px solid #111;
    color: #e6e2da;
    background-color: #222;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#222),to(#2d2d2d));
    background-image: -webkit-linear-gradient(top,#222,#2d2d2d);
    background-image: -moz-linear-gradient(top,#222,#2d2d2d);
    background-image: -ms-linear-gradient(top,#222,#2d2d2d);
    background-image: -o-linear-gradient(top,#222,#2d2d2d);
    background-image: linear-gradient(top,#222,#2d2d2d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#222',EndColorStr='#2d2d2d');
    text-shadow: -1px -1px #000;
	text-decoration: none;
}
header nav li a:hover {
    border: 1px solid  #F57E20;
    color: #F57E20;
    background-color: #2f2f2f;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#2f2f2f),to(#2d2d2d));
    background-image: -webkit-linear-gradient(top,#2f2f2f,#2d2d2d);
    background-image: -moz-linear-gradient(top,#2f2f2f,#2d2d2d);
    background-image: -ms-linear-gradient(top,#2f2f2f,#2d2d2d);
    background-image: -o-linear-gradient(top,#2f2f2f,#2d2d2d);
    background-image: linear-gradient(top,#2f2f2f,#2d2d2d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#2f2f2f',EndColorStr='#2d2d2d');
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
header nav li a:active{
	border: 1px solid #0AA34A;
	color: #0AA34A;
    background-color: #2h2h2h;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#2h2h2h),to(#2d2d2d));
    background-image: -webkit-linear-gradient(top,#2h2h2h,#2d2d2d);
    background-image: -moz-linear-gradient(top,#2h2h2h,#2d2d2d);
    background-image: -ms-linear-gradient(top,#2h2h2h,#2d2d2d);
    background-image: -o-linear-gradient(top,#2h2h2h,#2d2d2d);
    background-image: linear-gradient(top,#2h2h2h,#2d2d2d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#2h2h2h',EndColorStr='#2d2d2d');
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
header nav li#current a,
header nav li.parent.active a {
    border: 1px solid #1A61AE;
    color: #1A61AE;   
    background-color: #2z2z2z;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#2z2z2z),to(#0e0e0e));
    background-image: -webkit-linear-gradient(top,#2z2z2z,#0e0e0e);
    background-image: -moz-linear-gradient(top,#2z2z2z,#0e0e0e);
    background-image: -ms-linear-gradient(top,#2z2z2z,#0e0e0e);
    background-image: -o-linear-gradient(top,#2z2z2z,#0e0e0e);
    background-image: linear-gradient(top,#2z2z2z,#0e0e0e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#2z2z2z',EndColorStr='#0e0e0e');
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
.breadcrumbs img {
	padding:3px 2px 0 2px;
}

#footer-push{
	color: #e6e2da;
	 background-color: #222;
	 background-image: -webkit-gradient(linear,left top,left bottom,from(#222),to(#2d2d2d));
	 background-image: -webkit-linear-gradient(top,#222,#2d2d2d);
	 background-image: -moz-linear-gradient(top,#222,#2d2d2d);
	 background-image: -ms-linear-gradient(top,#222,#2d2d2d);
	 background-image: -o-linear-gradient(top,#222,#2d2d2d);
	 background-image: linear-gradient(top,#222,#2d2d2d);
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#222',EndColorStr='#2d2d2d');
}
footer{
    border-top:1px solid #e6e2da;
    width:100%;
    color:#fff;
	background-color: #010101;
}
#footer .gutter {
	width 100%;
	padding:2em 0 0 0;
	margin: 0;
	border-top:5px solid #1A61AE;
}

/*
 * Plans Page
 */
.article-89 .key {
    float: left;
    padding-top: 20px;
    text-align: right;
    margin-left: 0; }
.article-89 .plan {
    border: 1px solid #fff;
    color: #444;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 6px #F57E20;
    -moz-box-shadow: 1px 1px 6px #F57E20;
    box-shadow: 1px 1px 6px #F57E20;
    float: left;
    margin-bottom: 45px;
    padding: 0px;
    width: 18%;
    text-align: center;
    min-height: 400px;
	-webkit-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-o-transition: all 0.218s;
	transition: all 0.21
}
.article-89 .plan ol{
	padding: 0;
}
.article-89 .plans li{
		list-style: none;	
}
.article-89 .plan {
    background: -moz-linear-gradient(-90deg,#f9f9f9,#dadada);
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#dadada));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#dadada');
    background: -o-linear-gradient(#f9f9f9, #dadada); }
.article-89 .item ol,
.article-89 .intro ol,
.article-89 .item-page ol,
.article-89 .items-leading ol {list-style:none;}
.article-89 .plans ol li {
    display: block;
    height: 40px;
	padding: .75em 0;
    font-weight: bold;
    margin: 0; }
.article-89 .plans .compatibility { height: 60px }
.article-89 .plan .price h3 {
    color: #333;
    font-size: 2em; }
.article-89 .plan .signup a,
.article-89 .plan ol .signup a:link,
.article-89 .plan ol .signup a:visited,
.article-89 .plan ol .signup a:focus,
.article-89 .plan ol .signup a:active {
    display: block;
    padding: 10px;
    font-size: 1.75em;
    text-transform: uppercase; }
.article-89 .plan .version h3 {
    color: #333;
    font-size: 2.5em; }
.article-89 .plan ol li { border-bottom: 1px solid #ccc }
.article-89 .plan ol li:last-child { border-bottom: none }
.article-89 .plan em {
    color: #F57E20;
    text-transform: uppercase;
    font-size: 1.25em;
    font-style: normal;
    display: block; }
.article-89 .plan:hover {
	-webkit-box-shadow:2px 2px 6px rgba(26, 97, 174,1);
	-moz-box-shadow:2px 2px 6px rgba(26, 97, 174,1);
	box-shadow:2px 2px 6px rgba(26, 97, 174,1)}

.article-2 #content-main ul {
    margin: 50px auto 0 auto;width: 696px;
}
.article-2 #content-main ul li {
    float:left;
    list-style-type:none;
    display:block;
    margin:0 50px;
}
.article-2 #content-main ul li a {
    float:left;
    margin:0 5px 5px 0;
    padding:5px 0;
    line-height:4.2em;
    text-align:center;
    display:block;
    width:6.9em;
    font-size:1.5em;
}
.article-2 #content-main ul li a:active{
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3)
}
.article-2 #rokajaxsearch {
    background:none !important;
}


/*
 * Contact Form
 */
#rfq-form ol.form li{list-style:none}
#rfq-form span.required{color:#ff0000}
#rfq-form ol.form li.section, #rfq-form ol.form li.sub-section {width:45% !important;clear:none;display:inline}
#rfq-form ol.form input, #rfq-form ol.form textarea {width:80%}
#rfq-form ol.form input.checkbox {width:10px}
#rfq-form ol.form input.date {width:100px}
#rfq-form span.note{color:#333;font-family:"Lucida Grande", Lucida, Verdana, sans-serif;font-size:.6em}
/*#rfq-form ol.form label{width:100% !important; width:auto}*/
#rfq-form li.divider, #intro {border-bottom:2px dashed #ccc;width:85%}
#rfq-form li.divider h2{margin-bottom:.25em}
#rfq-form textarea, #rfq-form input.date {margin-left:15px}
#rfq-form ol.form li.state {width:50%}
#rfq-form ol.form li.zip {width:30%;clear:none}
#rfq-form .button{margin:0 auto 0 40%}