@charset "utf-8";
/* CSS Document */
.note {background:url(../../images/note.png) #ffc 0 50% no-repeat;padding:5px 0 5px 36px;}
.tip {background:url(../../images/tip.png) #ffc 0 50% no-repeat;padding:5px 0 5px 36px;float:none;}
.note, .tip {border:1px solid #D4D5AA;max-width:400px;-webkit-box-shadow:5px 5px 10px rgba(0,0,0,0.6);-moz-box-shadow:5px 5px 10px rgba(0,0,0,0.6);box-shadow:5px 5px 10px rgba(0,0,0,0.6);}