.key {
    float: left;
    padding-top: 20px;
    text-align: right;
    margin-left: 0; }
.plan {
    border: 1px solid #fff;
    color: #444;
    text-shadow: 1px 1px 1px #666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
    float: left;
    margin-bottom: 45px;
    padding: 0px;
    width: 18%;
    text-align: center;
    min-height: 400px; }
.plan {
    background: -moz-linear-gradient(-90deg,#f9f9f9,#dadada);
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#dadada));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#dadada');
    background: -o-linear-gradient(#f9f9f9, #dadada); }
.item ol, .intro ol, .item-page ol, .items-leading ol {list-style:none;}	
.plans ol li {
    display: block;
    height: 40px;
	padding: .75em 0;
    font-weight: bold;
    margin: 0; }
.plans .compatibility { height: 60px }
.plan .price h3 {
    color: #333;
    font-size: 2em; }
.plan .signup a,
.plan ol .signup a:link,
.plan ol .signup a:visited,
.plan ol .signup a:focus,
.plan ol .signup a:active {
    display: block;
    padding: 10px;
    font-size: 1.75em;
    text-transform: uppercase; }
.plan  .version h3 {
    color: #333;
    font-size: 2.5em; }
.plan ol li { border-bottom: 1px solid #ccc }
.plan ol li:last-child { border-bottom: none }
.plan em {
    color: #F57E20;
    text-transform: uppercase;
    font-size: 1.25em;
    font-style: normal;
    display: block; }
.plan:hover {
	-webkit-box-shadow:2px 2px 6px rgba(26, 97, 174,1);
	-moz-box-shadow:2px 2px 6px rgba(26, 97, 174,1);
	box-shadow:2px 2px 6px rgba(26, 97, 174,1)}